SOAP_WS_MYSQL/WebContent/wsdl/TestClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:tns1="http://data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data"/>
   <element name="getDepartment">
    <complexType>
     <sequence>
      <element name="dName" type="xsd:string"/>
      <element name="dId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDepartmentResponse">
    <complexType>
     <sequence>
      <element name="getDepartmentReturn" type="tns1:DepartmentClass"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_PersonClass">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:PersonClass"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://test"/>
   <complexType name="PersonClass">
    <sequence>
     <element name="fName" nillable="true" type="xsd:string"/>
     <element name="lName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DepartmentClass">
    <sequence>
     <element name="depName" nillable="true" type="xsd:string"/>
     <element name="depId" type="xsd:int"/>
     <element name="manager" nillable="true" type="tns1:PersonClass"/>
     <element name="employee" nillable="true" type="impl:ArrayOf_tns1_PersonClass"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDepartmentRequest">

      <wsdl:part element="impl:getDepartment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartmentResponse">

      <wsdl:part element="impl:getDepartmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestClass">

      <wsdl:operation name="getDepartment">

         <wsdl:input message="impl:getDepartmentRequest" name="getDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDepartmentResponse" name="getDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestClassSoapBinding" type="impl:TestClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDepartmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDepartmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestClassService">

      <wsdl:port binding="impl:TestClassSoapBinding" name="TestClass">

         <wsdlsoap:address location="http://localhost:8080/DWP_01/services/TestClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
