SOAP_SERVICE/WebContent/wsdl/Test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.pack.test.kz" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.pack.test.kz" xmlns:intf="http://test.pack.test.kz" xmlns:tns1="http://data.pack.test.kz" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.pack.test.kz" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.pack.test.kz"/>
   <element name="testMethod">
    <complexType>
     <sequence>
      <element name="argname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="testMethodResponse">
    <complexType>
     <sequence>
      <element name="testMethodReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Address">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Address"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.pack.test.kz" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://test.pack.test.kz"/>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
     <element name="house" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="UserAddresses">
    <sequence>
     <element name="address" nillable="true" type="impl:ArrayOf_tns1_Address"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="userAddresses" nillable="true" type="tns1:UserAddresses"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="testMethodRequest">

      <wsdl:part element="impl:testMethod" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testMethodResponse">

      <wsdl:part element="impl:testMethodResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Test">

      <wsdl:operation name="testMethod">

         <wsdl:input message="impl:testMethodRequest" name="testMethodRequest">

       </wsdl:input>

         <wsdl:output message="impl:testMethodResponse" name="testMethodResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestSoapBinding" type="impl:Test">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestService">

      <wsdl:port binding="impl:TestSoapBinding" name="Test">

         <wsdlsoap:address location="http://localhost:8080/SOAP_SERVICE/services/Test"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
